
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>For Vue</title>

    <script src="https://unpkg.com/vue"></script>

</head>
<body>

    <div id="app">
        <h1>
            Produtos
        </h1>
        <ul>
            <li v-for="produto in produtos"> 
                {{ text }} : {{ produto }} 
            </li>
        </ul>
        <ul>
            <li v-for="(produto, indice) in produtos"> 
                {{ text }} : {{ produto }} => {{ indice }} 
            </li>
        </ul>
    </div>
    
    <script type="text/javascript">
        new Vue({
            el: '#app',
            data: {
                text: 'Produto',
                produtos: [
                    'Monitor',
                    'Teclado',
                    'Mouse'
                ]
            }
        })
    </script>

</body>
</html>